################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/frontend/node_modules
/.vs/micro
/.vs/slnx.sqlite
/.vs
